/* style specific to example */
.canvas-container {
    width: 100%;
    height: calc(100vh - 82px);
    background-color: azure;
}

canvas {
    width: 100%;
    height: 100%;
}

body {
    margin-bottom: 0;
}

hr {
    margin-top: 0;
    margin-bottom: 1px;
}